.caixa {
    position: relative;
    width: 740px;
    margin: 0 auto; 
}
.logo {
    width: 25%;
    }
    nav{ 
        position: absolute; 
        top: 50px; 
        right: 0px; 
       }
       
       nav li {
       display: inline;
       margin: 0 0 0 -25px;
       }
       
       nav a {
       text-transform: uppercase;
       color: black;
       font-weight: bold;
       font-size: 22px;
       text-decoration: none;
       }
       
       nav a:hover {
           color: #C78C19;
           text-decoration: underline; 
       }

body{
        background:#f3dfdf;
        font-size: 20px;    }

    h1{
        text-align: center;
        background-color: rgb(61, 146, 146);
        border-radius: 450%;
        color:#03380c
    }
#paragrafodiferente{
    font-size: 20px;
    color: #040222;
}
    p{
        text-align: justify;
        color:#0c0a0a; 
    }
#imagemprincipal{
    width: 30%;
    margin-left: 35%;
    border: solid #100a66;
    padding: 20px;

}
li::marker{
    font-size: 20xp;
    color: #B22222;
    content: "\1F61C";
}
 ul{
    display: inline-block;
    vertical-align: top;
    width: 35%;
    margin-right: 0%;
 }

    i{
        
        color:#B22222;
      
    }

    b{
        font-size: 30px;
        color: #8B0000;
    }
    .teste{
      font-size: 25px;
      color: #8B0000;  
    }
    .imagem{
        width: 20%;
        border: solid #100a66;
        padding: 20px;
    }
    footer {
        text-align: center;
        background: url("background cinza.png");
        padding: 20px 0;
     }
    
     .rodape{
        width: 25%;
     }
    
     .copyright {
        text-align: center;
        color: #FFFFFF;
        font-size: 13px;
        margin: 20px 0 0 ;
     }